@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Be Vietnam Pro", sans-serif;
}


.container_content{
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
    color: var(--text-color);
}

.main_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 0;
}

.selectChapterHeader{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.naviBtn{
    border-radius: 10px;
    padding: 10px;
    color: var(--text-color);
    background-color: #00a316;
    border: none;
    font-size: var(--fs-small);
    box-shadow: var(--boxshadow);
    transition: var(--tran-03);
}

.naviBtn.disabled{
    background-color: #007910;
    color: #969696;
    cursor:  not-allowed;
}

.naviBtn.disabled:hover{
    background-color: #007910;
    color: #969696;
}

.naviBtn:hover{
    background-color: #008b13;
}

.selectChapter{
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    font-size: var(--fs-small);
    box-shadow: var(--boxshadow);
    transition: var(--tran-03);
    width: 70%;
    overflow: auto;
    max-height: 200px;
}

.sectionReadStory{
    width: 1000px;
    .listImageinChap{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .imgDiv{
            width: 100%;
            height: auto;
            img{
                width: 100%;
            }
        }
    }
}

.selectChapterFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
    .buttonNavigation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        width: 50%;
    }
}

.section_comments{
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .input_comment{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        textarea{
          width: 80%;
          height: 200px;
          padding: 10px;
          resize: none;
          border-radius: 5px;
        }
        button{
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: var(--tran-03);
          box-shadow: var(--boxshadow);
        }
      }
    }
  }
  
  .section_comments .input_comment form > button:hover{
    background-color: #0056b3;
    font-weight: var(--fw-bold);
  }
  
  .section_comments .commentsList{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    
    .commentItem{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
  
      .imageUser{
        background-image: url("/assest/Avatar.jpg");
        width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 1px solid;
        box-shadow: var(--boxshadow);
      }
  
      .commentInfor{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
  
        .comment_read{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 10px;
          background-color: #4d4d4d;
          padding: 10px;
          border-radius: 15px;
          
          .comment_author{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
  
  
  .comment_author .usernameComment{
    font-weight: var(--fw-medium);
    font-size: var(--fs-small);
    color: #007bff;
  }
  
  .comment_author .timeOfComment{
    font-style: italic;
    font-weight: var(--fw-light);
  }
  
  .comment_author .inChapter{
    text-decoration: underline;
    color: #0056b3;
  }