.container_index{
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
    color: var(--text-color);
}

.main_content{
    width: 84%;
    overflow-x: hidden;
}

.section_first{
    width: 100%;
}

.section_first .slide_container{
    width: 100%;
}

.card_wrapper{
    padding: 10px;
}

.card{
    position: relative;
    height: 360px;
    width: 250px;
    border-radius: 10px;
}

.card .image_content{
    width: 100%;
    height: 100%;
}

.card_image{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_image img{
    width: 100%;
    height: auto;
    object-fit:cover;
    border-radius: 10px;
}

.card .card_content{
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    a{
        color: var(--text-color);
        font-size: var(--fs-small);
    }
}

.seeAll{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    a{
        font-size: var(--fs-small);
    }
}